header {
  font-size: 20px;
  background-color: red;
}

body {
  background-color: lightskyblue;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
}

#userFeedback {
  background-color: lightblue;
  flex-direction: column;
}

#dataReturn {
  background-color: aqua;
}

button:hover {
  color: palevioletred;
}

.shy {
  font-size: 15px;
  background-color: pink;
}
